client/node_modules
node_modules

# Database files
*.db
server/data/
server/database.db

# Deployment packages and backups
*.tar.gz
*.zip
*backup*/

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
