client/node_modules
node_modules

# Database files
*.db
server/data/
server/database.db
# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
node_modules
