option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
    PORT: 8080
  aws:ec2:vpc:
    VPCId: vpc-0fc7038a0e21284b3
    Subnets: subnet-0db58c7d3a42539f2,subnet-001303a5c8b18e64a
    ELBSubnets: subnet-04d661e89a9c47f49,subnet-07a10c72de88cd050
    AssociatePublicIpAddress: true