option_settings:
  aws:elasticbeanstalk:application:environment:
    NODE_ENV: production
  aws:ec2:vpc:
    VPCId: vpc-0fc7038a0e21284b3
    Subnets: subnet-0db58c7d3a42539f2,subnet-001303a5c8b18e64a
    ELBSubnets: subnet-0db58c7d3a42539f2,subnet-001303a5c8b18e64a
    AssociatePublicIpAddress: true