container_commands:
  01_create_directories:
    command: |
      mkdir -p /var/app/current/server/data
      mkdir -p /var/app/current/server/uploads
      mkdir -p /var/app/current/server/uploads/audio
      mkdir -p /var/app/current/server/downloads
      mkdir -p /var/app/current/logs
      chown -R webapp:webapp /var/app/current/server/data
      chown -R webapp:webapp /var/app/current/server/uploads
      chown -R webapp:webapp /var/app/current/server/downloads
      chown -R webapp:webapp /var/app/current/logs